body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  background-color: #f2f2f2; /* 標頭的背景顏色 */
  border-bottom: 1px solid #ccc; /* 可以添加底部邊框效果 */
  z-index: 100;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 2vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
  z-index: 100;
}

main {
  position: relative;
  top: 5vh;
  bottom: 2vh;
  margin: 0px;
}
.menu-toggle {
  display: none;
  cursor: pointer;
}

.function-column {
  display: flex;
  width: 50%;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0 20px; /* 根據需要調整左右邊距 */
}

.logo {
  width: 20%;
  border: 2px solid red;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.pet-shop {
  border: 2px solid green;
}

.friendly-map {
  border: 2px solid blue;
}

.pet-adopt {
  border: 2px solid rgb(247, 174, 40);
}

.pet-community {
  border: 2px solid rgb(34, 95, 110);
}

.member-center {
  border: 2px solid rgb(73, 24, 85);
}
@media screen and (max-width: 735px) {
  .menu-items,
  .menu-items div {
    display: none;
  }

  .menu-toggle {
    display: block;
    width: 20%;
  }
  .function-column {
    justify-content: flex-end;
  }
  .logo {
    width: 80%;
  }
}
/*-----------------------------*/
#one {
  position: fixed;
  border: #333 5px solid;
  background: #cc1313;
  width: 50vh;
  height: 30vh;
  top: 5vh;
  left: 0;
}

#two {
  position: fixed;
  border: #333 5px solid;
  background: #14b94b;
  width: 50vh;
  height: 30vh;
  top: 5vh;
  right: 0;
}

#three {
  position: fixed;
  border: #333 5px solid;
  background: blue;
  width: 55vh;
  height: 75vh;
  bottom: 2vh;
  left: 70vh;
}

#four {
  position: fixed;
  border: #333 5px solid;
  background: #831bac;
  width: 50vh;
  height: 30vh;
  bottom: 2vh;
  left: 0;
}

#five {
  position: fixed;
  border: #333 5px solid;
  background: #d8db22;
  width: 50vh;
  height: 30vh;
  bottom: 2vh;
  right: 0;
}
.test1 {
  display: flex;
  justify-content: space-between;
}
.test2 {
  display: flex;
  justify-content: space-between;
}
/*-----------------------------*/
