/*--------------body start------------------*/

body {
  margin: 0;
  background-image: url("../image/background.jpg");
  background-size: cover; /* 讓圖片完全縮放填滿背景區(可能有部分區塊被裁切 */
  background-position: center; /* 讓圖片置中，從中間縮放的感覺 */
  background-attachment: fixed; /* 背景图片固定，不随内容滚动 */
}

/*--------------body End------------------*/

/*--------------Header Start------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  max-height: 8vh;
  min-height: 60px;
  background-color: rgba(255, 255, 255, 0.459); /* 半透明背景颜色 */
  border-bottom: 1px solid #2423239c; /* 可以添加底部邊框效果 */
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}
.logo-container p {
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
  width: auto;
  height: 100%;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.logo-container img {
  width: auto;
  height: 100%;
  cursor: auto;
}

.function-column {
  width: 80%;
}

.menu-toggle {
  display: none;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.pet-shop,
.friendly-map,
.pet-adopt,
.pet-community,
.member-center {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  cursor: pointer;
  font-size: 25px;
}
/*--------------Header  RWD------------------*/
@media screen and (max-width: 1024px) {
  .menu-items,
  .menu-items div {
    display: none;
  }

  .menu-toggle {
    display: block;
    width: auto;
    cursor: pointer;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 25px;
  }
  .function-column {
    display: flex;
    justify-content: center;
    width: 20vw;
  }
  .logo-container {
    width: 80vw;
  }
}
/*--------------Header End------------------*/

/*--------------Main Start------------------*/
 main {
  position: absolute;
  top: 8vh;
  bottom: 9vh;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-map-container img {
  position: absolute;
  object-fit: contain;
}

.image-shop {
  top: 0;
  left: 0;
  width: 80%; /* 放大圖片 */
  height: 80%; /* 放大圖片 */
}

.image-map {
  top: 0;
  right: 0;
  width: 80%; /* 放大圖片 */
  height: 80%; /* 放大圖片 */
}

.image-adopt {
  bottom: 0;
  left: 0;
  width: 80%; /* 放大圖片 */
  height: 80%; /* 放大圖片 */
}

.image-community {
  bottom: 0;
  right: 0;
  width: 80%; /* 放大圖片 */
  height: 80%; /* 放大圖片 */
}

.image-dog {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* 放大圖片 */
  height: vmin(100%); /* 放大圖片 */
}

/*--------------Main End------------------*/

/*--------------footer Start------------------*/
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 9vh;
  background-color: #333;
  color: #fff;
  z-index: 100;
}
.footer-container {
  text-align: center;
}
.fb-icon,
.line-icon,
.mail-icon {
  margin: 0 5px;
  cursor: pointer;
}
/*--------------Footer end------------------*/

/*--------------Test------------------*/
